@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}



.logo {
     width: 8%;
     display: flex;
     justify-content: center;
     align-items: center;
}

.logo img{
    width: 80%;
    border-color: steelblue;
    border-radius: 50px;
}



.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
  
}

.nav-list{
  width: 70%;
;
  display: flex;
  align-items: center;
}

.nav-list li{
        list-style: none;
        padding: 26px;
}

.nav-list li a{
        text-decoration: none;
        color: blanchedalmond;
        font-family: 'Roboto', sans-serif
}

.nav-list li a:hover{
    color: darkslategray
}
.rightNav{

    width: 30%;
    text-align: right;
    padding: 0 23px;
}

#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid gray;
    border-radius: 9px;
}

.background{
    background-image: url(https://images.unsplash.com/photo-1505051508008-923feaf90180?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-blend-mode: darken;
}

.firstSection{
    height: 100vh;
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 50%;
    margin: auto;
    height: 80%;
}

.firsthalf{
width: 80%;
display: flex;
flex-direction: column;
justify-content: center;
}

.secondhalf{
width: 30%;
}
.secondhalf img{
width: 80%;
border:4px white;
border-radius: 100px;
display: block;
margin: 80px;

}

.text-big{
     font-size: 40px;
     color: black;
}
.text-small{
     font-size: 18px;
     color: black;
}
.btn{
    padding: 8px 20px;
    margin: 7px 3px;
    border: 2px solid black;
    border-radius: 8px;
    background: none;
    color: black;
    cursor: pointer;
    font-family: 'Roboto', sans-serif
}
.section{
    padding: 0px 0px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    height: max-content;
}
.section-left{
    flex-direction: row-reverse;
    height: max-content;
}
 

.para{
    padding: 0px 65px;
}

.sectionSubTag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.contact{
      padding: 0%;
      background-color: gainsboro;
      height: 800px;
}

.text-center{
    text-align: center;
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;    
    font-size: 35px;

}
.form{
    max-width: 800px;
    margin: 20px auto;
}
.form-input{
    padding: 5px 3px;
    margin: 14px 0;
    width: 100%;
   font-size: 19px;
   border: 2px solid black;
   border-radius: 6px;
   margin: 14px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.btn-dark{
     color: black;
     border: 2px solid black;
     border-radius: 8px;
     padding: 6px 20px;
     margin: 3px 3px;
     
}

.text-footer{
    text-align: center;
    padding: 30px 0;
    font-family: 'Roboto', sans-serif;    
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}


.school{
    text-align: center;

}

.sn{
    font-family: 'Roboto', sans-serif; 
}

.sns{
    font-size: xx-large;
}

.video{
    height: 50%;
    width: 50%;
    
}

.btn-video{
    padding: 8px 20px;
    margin: 7px 3px;
    border: 2px solid black;
    border-radius: 8px;
    background: none;
    color: black;
    cursor: pointer;
    font-family: 'Roboto', sans-serif       
}


#vid{
    background-color: gainsboro;
    align-content: stretch;
}


.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}
.line{
    width: 35px;
    background-color: white;
    height: 5px;
    margin: 5px;
}


.headline{
    text-align: center;
    font-size: 50px;
}



.spread{
    text-align: center;
    font-size: 50px;
}

.spread-text{
    font-size: 30px;
    text-align: center;

}

/* .ex-img img{
    align-items: center;
}
 */




@media only screen and (max-width: 1140px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        transition: all 0.3s ease-out; 
         height: 447px;
    }
    .rightNav{
        text-align: center;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    #search{
        width: 100%;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 72px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .section{
        flex-direction: column-reverse;
    }
    .para{
        padding: 0px;
    }
    .contact{
        height: 667px;
    }
    .content{
        height: 100vh;
    }



}


/* .schoolimg{
    width: 1px;
    height: 3px;
} */

